<div>
    <form action="/account/login" method="post">
        <input type="text" name="Email" placeholder="Email" class="form-control" />
        <input type="password" name="Password" placeholder="Password" class="form-control" />
        <button class="btn btn-info">Login</button>
    </form>
</div>

