<div>
    <form method="post" action="/account/signup">
        <input type="text" name="Name" placeholder="Name" class="form-control" />
        <input type="text" name="Email" placeholder="Email" class="form-control" />
        <input type="password" name="Password" placeholder="Password" class="form-control" />
        <button class="btn btn-info">Sign Up!</button>
    </form>
</div>